@page "/counter"
@using Blazorise;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Addons>
    <Addon AddonType="AddonType.Body">
        <DatePicker @ref="@datePicker" TValue="DateTime?" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Blazorise.Color.Light" Clicked="@(()=>datePicker.ToggleAsync())">
            <Icon Name="IconName.CalendarDay" />
        </Button>
    </Addon>
</Addons>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    DatePicker<DateTime?> datePicker;
}
