@page "/fetchdataVacas"
@using VacasCool.Data
@inject VacaService vacaService

<PageTitle>Vacas</PageTitle>

<h1>Vacas</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (vacas.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Raza</th>
                <th>Peso (Kg)</th>
                <th>Edad (Meses)</th>
                <th>Vivo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vaca in vacas)
            {
                <tr>
                    <td>@vaca.Raza</td>
                    <td>@vaca.Peso</td>
                    <td>@vaca.Edad</td>
                    <td>@vaca.Vivo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Vaca> vacas = new List<Vaca>();
    protected override async Task OnInitializedAsync()
    {
        var url = "https://vacas20231113212142.azurewebsites.net/Vacas";
        vacas = await vacaService.ObtenerElementos(url);
    }
}
